[submodule "libs/DPP"]
	path = libs/DPP
	url = https://github.com/Neko-Life/DPP
[submodule "libs/curlpp"]
	path = libs/curlpp
	url = https://github.com/jpbarrette/curlpp
[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/curl/curl
